.play-btn {
  width: 60;
  height: 60;
  border-radius: 8;
  background-color: #facc15;
  color: #000;
  font-size: 28;
  font-weight: bold;
}

.audio-progress {
  height: 6;
  min-height: 6;
  background-color: #3b3b3b; /* track */
  color: #facc15; /* relleno */
  border-radius: 3;
}

.text-white {
  color: white;
}
.bg-gray-900 {
  background-color: #1a1a1a;
}
.rounded-lg {
  border-radius: 8;
}
