<StackLayout
  class="audio-player-container p-4 bg-gray-900 rounded-lg"
  [opacity]="isAudioReady() ? 1 : 0.5"
>
  <!--
  Col
  0="controls,"
  Col
  1="divider,"
  Col
  2="content"
  -->
  <GridLayout columns="60, 12, *" rows="auto, auto" verticalAlignment="center">
    <!-- Player controllers (Button and Spinner) -->
    <app-playback-controls
      [isLoading]="isLoading()"
      [isPlaying]="isPlaying()"
      [isAudioReady]="isAudioReady()"
      (playTap)="onPlayTap()"
      col="0"
      rowSpan="2"
    ></app-playback-controls>

    <!-- top row : file date and seconds counter -->
    <app-progress-display
      [fileDate]="fileDate()"
      [displayedTime]="displayedTime()"
      col="2"
      row="0"
    ></app-progress-display>

    <!-- bottom row : progress bar -->
    <app-progress-bar
      [value]="progressValue()"
      [maxValue]="duration()"
      col="2"
      row="1"
    ></app-progress-bar>
  </GridLayout>
</StackLayout>
